*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #252525;
}

.header a{
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.header nav{
  display: flex;
  column-gap: 20px;
}

button{
  margin-left: 100px;
  margin-top: -50px;
}

.clock{
  margin: 0px;
}

.clock a{
  color: rgb(0, 0, 0);
  font-size: 26px;
  margin: 5px;
}
h1{
  margin: 50px;
  margin-left: 100px;
}
.h1{

  margin-left: 100px;
  font-size: 46px;
}